---
import Layout from '../layouts/Layout.astro';
const title = "プロフィール";
---

<Layout title={title}>
<h1>プロフィール</h1>

<p>ようこそ！このページはプロフィール情報を掲載します。</p>

<h2>自己紹介</h2>
<p>ここに自分自身の紹介を追加してください。</p>

<h2>スキル</h2>
<ul>
  <li>Astro</li>
  <li>TypeScript</li>
  <li>React</li>
</ul>
</Layout>
