---
import Layout from '../../layouts/Layout.astro';
const title = "ポートフォリオ";
---

<Layout title={title}>
<h1>ポートフォリオ</h1>

<p>こちらでは、これまでの作品やプロジェクトを紹介します。</p>

<h2>プロジェクト一覧</h2>
<p>プロジェクトをここに追加してください。</p>
</Layout>
