<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>Can2 Blog</title>
	</head>
	<body>
		<main>
			<h1 class="blog_title">Can2 Blog</h1>
			<nav>
				<a class="icon-link" href="/">
					<span class="material-icons" title="Home">home</span>
				</a>
				<a class="icon-link" href="/about">
					<span class="material-icons" title="About">account_circle</span>
				</a>
				<a class="icon-link" href="/contact">
					<span class="material-icons" title="Contact">contacts</span>
				</a>
			</nav>
		</main>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
	main {
		background-color:lightgray;
	}
	.blog_title {
		text-align: center;
		color: darkgray;
	}
	nav{
		text-align: right;
		margin-right: 5rem;
	}
	nav a{
		color: white;
		margin-left: 0.5rem;
		text-decoration: none;
	}
	nav a span{
		font-size: 32px;
	}
</style>
